<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#">Dashboard</a>
    <a class="nav-link" href="#">
      Friends
      <span class="badge badge-pill bg-light align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="#">Explore</a>
    <a class="nav-link" href="#">Suggestions</a>
    <a class="nav-link" href="#">Link</a>


    <form class="form-inline my-2 my-lg-0">
      <!-- <button *ngIf="!authService.isLoggedIn()" class="btn btn-sm btn-outline-primary" (click)="authService.logout()">Login</button>
      <button *ngIf="authService.isLoggedIn()" class="btn btn-sm btn-outline-danger" (click)="authService.logout()">Logout</button> -->
    </form>
  </nav>
</div>
