<div class="container">
  <main role="main">

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
      <!-- <img class="mr-3" src="./Offcanvas template for Bootstrap_files/bootstrap-outline.svg" alt="" width="48" height="48"> -->
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Charts</h6>
        <small>Since 2018</small>
      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Chart</h6>
      <div class="media text-muted pt-3">
          <ngx-charts-bar-vertical *ngIf="done"
          [view]="view"
          [scheme]="colorScheme"
          [results]="userList"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Table</h6>
      <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          table
        </div>
      </div>
    </div>
  </main>
</div>
